{% extends "layout.html" %}

{% block title %}| Neural Reconstruction of Handwritten Curves{% endblock %}
{% block extra_css %}
<link href="/static/css/body.css" rel="stylesheet">
<link href="/static/css/ux.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->
<div class="bio-container">
    <div class="iframe-wrapper">
      <iframe
        src="https://drive.google.com/file/d/1AQbjf6Tl89mz_BkEtFMzqODIJShruNFG/preview"
        allow="autoplay"
        loading="lazy">
      </iframe>
    </div>
  </div>

{% endblock %}