{% extends "layout.html" %}

{% block title %}| Unicode Data Story{% endblock %}

{% block extra_css %}
<link href="/static/css/ux.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->
<div class="bio-container">
    <div style="display: flex; justify-content: center; margin: auto; align-items: center; flex-direction: column;">
        <iframe src="https://drive.google.com/file/d/1AQbjf6Tl89mz_BkEtFMzqODIJShruNFG/view" width="1000vw" height="600vh" allow="autoplay"></iframe>
    </div>
</div>

{% endblock %}