{% extends "layout.html" %}

{% block title %}| Commissions{% endblock %}

{% block content %}
    <!--- Navigation page for displaying client work --->
    <h1 style="text-align: center; margin: 40px; font-family: 'BHN Cinema'; color: white">Client Work</h1>
    <div class="thumbnail-container">
        <div class="thumbnail">
            <img src="../static/asset/images/client/olympics.png" alt="CNN Olympics">
            <div class="thumbnail-content">
                <a class="thumbnail-header" href="olympics">CNN Olympics</a>
                <div class="thumbnail-description">
                    Commissioned logos for CNN Hội Thao
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Completed: Nov 2023 - Jan 2024
                </div>
            </div>
        </div>

        <div class="thumbnail">
            <img src="../static/asset/images/client/cec.png" alt="CEC">
            <div class="thumbnail-content">
                <div class="thumbnail-header">CNN English Club</div>
                <div class="thumbnail-description">
                    Commissioned posters and tickets for CNN English Club
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Completed: 2023
                </div>

            </div>
        </div>

        <div class="thumbnail">
            <img src="../static/asset/images/client/teddeah!.png" alt="TeddeAh!">
            <div class="thumbnail-content">
                <div class="thumbnail-header">CNN Dance Club - TeddeAh!</div>
                <div class="thumbnail-description">
                    Commissioned logo for TeddeAh! - a competitive dance group from CNN Dance Club
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Completed: Jul 2022
                </div>

            </div>
        </div>
    </div>

{% endblock %}
<!--- Additional footer detail --->
{% block footer%} <a class="com-footer" style="text-decoration: none; color: #888" href="about">Commission me now!</a> {%endblock%}
