{% extends "layout.html" %}

{% block title %}| Personal{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->
    <div class="bio-container">
        <a href="https://drive.google.com/uc?export=view&id=1HbtgJBMA1PF065dIGyaITdW0obwVOD39"><img src="https://drive.google.com/uc?export=view&id=1HbtgJBMA1PF065dIGyaITdW0obwVOD39" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." /></a>
        <div class="bio-text" style="text-align:left;">
            <h2 style="text-align:left;">The Land of Rivers</h2>
            <p>“Umi ni oite dai sakana nashi” (海に置いて大魚なし), 
            </p>
            <p>"In the sea, there are no big fish."
            </p>
        </div>

        <div></div>
    </div>
    <div class="bio-container">
        <image max-height="20vw" src="../static/asset/images/fish/fish outline.jpg"></image>
        <image max-height="20vw" src="../static/asset/images/fish/no fish.jpg"></image>
    </div>
    <div class="bio-container">
        <image max-height="20vw" src="../static/asset/images/fish/no sub.jpg"></image>
        <image max-height="20vw" src="../static/asset/images/fish/full.jpg"></image>
    </div>

{% endblock %}
