{% extends "layout.html" %}

{% block title %}| Personal{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->
    <div class="bio-container">
        <embed class="video" width="560" height="315" src="https://drive.google.com/file/d/1HbtgJBMA1PF065dIGyaITdW0obwVOD39/view?usp=sharing" title="PDF" type="">
        <div class="bio-text" style="text-align:left;">
            <h2 style="text-align:left;">The Land of Rivers</h2>
            <p>“Umi ni oite dai sakana nashi” (海に置いて大魚なし), 
            </p>
            <p>"In the sea, there are no big fish."
            </p>
        </div>

        <div></div>
    </div>
    <div class="bio-container">
        <div></div>
        <image class="bio-image" style="filter:grayscale(0)" src="../static/asset/images/fish/fish outline.jpg"></image>
        <image class="bio-image" style="filter:grayscale(0)" src="../static/asset/images/fish/no fish.jpg"></image>
        <div></div>
        <image class="bio-image" style="filter:grayscale(0)" src="../static/asset/images/fish/no sub.jpg"></image>
        <image class="bio-image" style="filter:grayscale(0)" src="../static/asset/images/fish/full.jpg"></image>
    </div>

{% endblock %}
