{% extends "layout.html" %}

{% block title %}| Commissions{% endblock %}

{% block content %}

    <h1 style="text-align: center; margin: 0px; font-family: 'BHN Cinema'; color: white">Personal Work</h1>
    <div class="thumbnail-container">
        <div class="thumbnail">
            <div class="thumbnail-content">
                <a class="thumbnail-header" href="street">Street Photography</a>
                <div class="thumbnail-description">
                    Through the lens of my Nikon D5100 since 2017
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Ongoing
                </div>
            </div>
        </div>

        <div class="thumbnail">
            <div class="thumbnail-content">
                <a class="thumbnail-header" href="illustration">Illustrations</a>
                <div class="thumbnail-description">
                    My journey in the world of anime and cartoons (2018-2024)
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Delayed after 2022
                </div>
            </div>
        </div>

        <div class="thumbnail">
            <div class="thumbnail-content">
                <a class="thumbnail-header" href="superface">Superface</a>
                <div class="thumbnail-description">
                    Superface is an amalgamation of self-edited self-portraits that I started since the start of my 10th grade, my first academic year in the pandemic, to experiment with makeup and artistic concepts. People are recognized by their facial appearances, but our faces are constantly morphing with external gazes that scrutinize our facade, of our own volition or not.
                    My face is a superface, a layering of different personalities and stories that I wear on my skin. As an artist, I use my face as canvas to reclaim the ways I am perceived.
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Delayed after 2023
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-content">
                <a class="thumbnail-header" href="portal">The Portal</a>
                <div class="thumbnail-description">
                    A Collection of Poems and Short Stories
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Discontinued in 2021
                </div>
            </div>
        </div>

    </div>

{% endblock %}
